<header id="header" id="home">
    <div class="container">
        <div class="row align-items-center justify-content-between d-flex pt-2 pb-1">
            <div id="logo">
                <!-- <a href="/"><img src="img/logo.png" alt="logo" title="Trang chủ" /></a> -->
                <a href="/"><img src="/img/soccer-ball.svg" width="30" alt="LOGO" title="Trang chủ" /> <span style="font-size:1.2rem; color: white; vertical-align: middle; padding-left: 2px;">SÂN BÓNG MINI</span></a>
            </div>
            <nav id="nav-menu-container">
                <% if(isLogin==true){ %>
                    <ul class="nav-menu">
                        <li class="dropdown open">
                          <a class="dropdown-toggle text-white" data-toggle="dropdown">Quản lý tài khoản</a>
                          <ul class="dropdown-menu">
                            <li><a href="/profile">Xem lý lịch cá nhân</a></li>
                            <li><a href="/account">Đổi mật khẩu</a></li>
                            <li><a href="/user/signout">Đăng Xuất</a></li>
                          </ul>
                        </li>
                        <li class="nav-item"><a href="/history">Lịch sử</a></li>
                        <a href="#finding" class="primary-btn text-uppercase ml-4 px-4">Đặt sân</a>	          
                    </ul>
                <% } else{ %>
                    <ul class="nav-menu">
                        <li class="nav-item"><a href="/lichsan">Lịch sân</a></li>
                        <li class="nav-item"><a href="#" data-toggle="modal" data-target="#signupModal">Đăng ký</a></li>
                        <a href="#" data-toggle="modal" data-target="#signinModal" class="primary-btn text-uppercase ml-3">Đăng nhập</a>	          
                    </ul>
                <% } %>
            </nav><!-- #nav-menu-container -->		    		
        </div>
    </div>
    <!-- <hr> -->
</header><!-- #header -->