<header id="header" id="home">
    <div class="container">
        <div class="row align-items-center justify-content-between d-flex pt-2 pb-1">
            <div id="logo">
                <a href="/"><img src="img/logo.png" alt="logo" title="Trang chủ" /></a>
            </div>
            <nav id="nav-menu-container">
                <% if(isLogin){ %>
                    <ul class="nav-menu">
                        <li class="dropdown open">
                          <a class="dropdown-toggle text-white" data-toggle="dropdown">Quản lý tài khoản</a>
                          <ul class="dropdown-menu">
                            <li class="dropdown-header"><h5>Lý lịch cá nhân</h5></li>
                            <li><a href="/lyLich">Xem lý lịch cá nhân</a></li>
                            <li><a href="/lyLich">Chỉnh sửa lý lịch cá nhân</a></li>
                            <li class="dropdown-header"><h5>Tài khoản</h5></li>
                            <li><a href="/taiKhoan">Đổi mật khẩu</a></li>
                            <li><a href="/taiKhoan">Quên mật khẩu?</a></li>
                          </ul>
                        </li>
                        <li class="nav-item"><a href="/history">Lịch sử</a></li>
                        <a data-toggle="modal" data-target="#modalSignin" class="primary-btn text-uppercase ml-3">Đặt sân</a>	          
                    </ul>
                <% } else{ %>
                    <ul class="nav-menu">
                        <li class="nav-item"><a href="/lichsan">Lịch sân</a></li>
                        <li class="nav-item"><a href="/signup">Đăng ký</a></li>
                        <a href="/signin" data-toggle="modal" data-target="#modalSignin" class="primary-btn text-uppercase ml-3">Đăng nhập</a>	          
                    </ul>
                <% } %>
                <!-- Modal -->
                <div class="modal fade" id="modalSignin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        ...
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>
            </nav><!-- #nav-menu-container -->		    		
        </div>
    </div>
    <hr>
</header><!-- #header -->