<!DOCTYPE html>
<html>
  <!-- Head -->
  <% include layouts/head %>
  <body>
    <!-- Navbar -->
    <% include layouts/header %>
<!--Đổi mật khẩu-->
             <div class="container mt-5 pt-5" id="#checkRePassword">
				 <div class="container-fuild">
						<div class="d-flex justify-content-around align-items-center">
							<h4 class="mb-3">Đổi mật khẩu:</h4>
						</div>
							<div class="form-group">
								<label>Mật Khẩu cũ</label>
								<input class="form-control" id="password" name="password" type="password" placeholder="Vui lòng nhập mật khẩu cũ">
							</div>
							<div class="form-group">
								<label>Mật Khẩu mới</label>
								<input class="form-control" id="newPassword" name="password" type="password" placeholder="Vui lòng nhập mật khẩu mới">
							</div>
							<div class="form-group">
								<label>Xác nhận lại mật khẩu</label>
								<input class="form-control" id="reNewPassword" name="password" type="password" placeholder="Vui lòng nhập lại mật khẩu mới	">
							</div>
							<div class="modal-footer d-flex justify-content-center">
								<button onclick="login()" class="btn btn-success mr-4 px-4">Xác nhận</button>
								<button type="button" class="btn btn-danger" data-dismiss="modal">Trờ về</button>
							</div>		
					</div>
             </div>

	<!-- footer -->
	<% include layouts/footer %>
    <!-- Script -->
	<% include layouts/script %>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#checkRePassword").validate({
					rules: {
						password: {
							required: true,
							minlength: 5
						},
						newPassword: {
							required: true,
							minlength: 5
						},
						reNewPassword: {
							required: true,
							minlength: 5,
							equalTo: "#newPassword"
						},
					},
					messages: {
						password: {
							required: "Vui lòng nhập mật khẩu cũ",
							minlength: "Vui lòng nhập ít nhất 5 kí tự"
						},
						newPassword: {
							required: "Vui lòng nhập mật khẩu mới",
							minlength: "Vui lòng nhập ít nhất 5 kí tự"
						},
						reNewPassword: {
							required: "Vui lòng nhập lại mật khẩu mới",
							minlength: "Vui lòng nhập ít nhất 5 kí tự",
							equalTo: "Mật khẩu không trùng"
						},
					}
				});
	});
	</script>


  </body>
</html>
