<!DOCTYPE html>
<html>
  <!-- Head -->
  <% include layouts/head %>
  <body>
    <!-- Navbar -->
    <% include layouts/navbar %>

    <!-- Script -->
    <% include layouts/script %>
  </body>
</html>
