<!DOCTYPE html>
<html lang="vi" class="no-js">
<% include layouts/head %>
<body>
	<% include layouts/header %>

  <div class="container mt-5 pt-5">
    <!-- navbar -->
    <!-- Tab & pill -->
    <div class="row">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#menu1">Biểu đồ tăng trưởng tháng</a></li>
        <li><a data-toggle="tab" href="#menu2">Biểu đồ tăng trưởng năm</a></li>
      </ul>
    </div>

    <div class="tab-content">
      <div id="menu1" class="tab-pane fade in active">
        <h3>Biểu đồ tăng trưởng tháng</h3>
      </div>

      <div id="menu2" class="tab-pane fade">
        <h3>Biểu đồ tăng trưởng năm</h3>
      </div>
    </div>
  </div>

	<% include layouts/footer %>
	<% include layouts/script %>
    <script>
      $('#header').addClass('header-scrolled');
    </script>
</body>
</html>
