<!DOCTYPE html>
<html>
  <!-- Head -->
  <% include layouts/head %>
  <body>
    <!-- Navbar -->
    <% include layouts/navbar %>
    <div class="container-fluid mx-0">
      <section id="landing">
        <div class="row">
          <div class="col-8 offset-2 d-flex align-items-center">
            <h1 id="main-title">Đặt sân nhanh chóng, nhiều tiện ích và ưu đãi</h1>
            <button class="btn btn-primary btn-lg">Đăng ký ngay</button>
          </div>
        </div>
      </section>
      <section id="finding">
        
      </section>
    </div>

    <!-- Script -->
    <% include layouts/script %>
  </body>
</html>
