<!DOCTYPE html>
<html>
  <!-- Head -->
  <% include layouts/head %>
  <body>
    <!-- Navbar -->
    <% include layouts/navbar %>
    <div class="container-fluid mx-0">
      <section id="landing">
        landing
      </section>
      <section id="finding">
        
      </section>
    </div>

    <!-- Script -->
    <% include layouts/script %>
  </body>
</html>
