<!DOCTYPE html>
<html lang="vi" class="no-js">
<% include layouts/head %>
<body>
	<% include layouts/header %>
	<input type="hidden" id="islogin" value="<%= isLogin%>">
	<!-- Start signin Modal area -->
	<div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Đăng nhập</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body mx-3">

          <div id='thongbao'>
            <% if(info.mess){%>
              <div class="alert alert-danger" role="alert">
                <%= info.mess%>
              </div>
            <%}%>
          </div>
				  
	        <form id='login'>
	        	<div class="form-group">
							<label for="email">Email hoặc SĐT:</label>
							<input type="text" class="form-control" id="email" name="email" autofocus>
						</div>
						<div class="form-group">
							<label for="password">Mật khẩu:</label>
							<input type="password" class="form-control" id="password" name="password">
						</div>
						<button type="submit" class="primary-btn py-2 text-uppercase d-block mx-auto">Đăng nhập</button>
	        </form>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- End signin Modal area -->

	<!-- Start signup Modal area -->
	<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Đăng ký</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body mx-3">
					<form id="signup">
						<div class="form-group">
							<label for="phoneNumber">Số điện thoại:</label>
							<input type="text" class="form-control" id="phoneNumber">
						</div>
						<div class="form-group">
							<label for="password">Mật khẩu:</label>
							<input type="password" class="form-control" id="password">
						</div>
						<div class="form-group">
								<label for="rePassword">Nhập lại mật khẩu:</label>
								<input type="password" class="form-control" id="rePassword">
							</div>
						<button type="submit" class="primary-btn py-2 text-uppercase d-block mx-auto">Đăng ký</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- End signin Modal area -->
	
	<!-- start banner Area -->
	<section class="banner-area relative" id="home">
		<div class="overlay overlay-bg"></div>	
		<div class="container">
			<div class="row fullscreen d-flex align-items-center justify-content-center">
				<div class="banner-content col-lg-8">
					<h1 class="text-white">
						Đặt sân nhanh chóng, nhiều ưu đãi và tiện ích				
					</h1>
					<p class="pt-20 pb-20 text-white">
						Đặt sân dễ dàng, khung giờ linh hoạt, quản lý lịch đấu & mời giao hữu một cách thuận tiện.
					</p>
					<a href="#finding" class="primary-btn py-3 text-uppercase">Đặt sân</a>
				</div>											
			</div>
		</div>					
	</section>
	<!-- End banner Area -->	

	<!-- Start finding Area -->
	<section id="finding">
		<div class="container">
			<div class="row">
				<div class="col-6 offset-3 mt-5">
					<div class="my-4 mx-2">
						<h2 class="mb-3">Đặt sân</h2>
						<form id='datsan' action='/payment' method='POST'>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputTypeOfField">Chọn loại sân:</label>
                  <select id="inputTypeOfField" class="form-control" name="pitchSize">
										<option selected value="5">5 Người</option>
										<option value="7">7 Người</option>
										<option value="12">12 Người</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="date">Chọn ngày:</label>
                  <input type="date" class="form-control" id="date" name="rentDate">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputDateFrom">Đặt từ:</label>
                  <select id="inputDateFrom" class="form-control" name="rentTime">
                    <option selected value="5:00">05:00</option>
										<option value='5:30'>05:30</option>
										<option value='6:00'>06:00</option>
										<option value='6.30'>06:30</option>
										<option value='7:00'>07:00</option>
										<option value='7:30'>07:30</option>
										<option value='8:00'>08:00</option>
										<option value='8:30'>08:30</option>
										<option value='9:00'>09:00</option>
										<option value='9:30'>09:30</option>
										<option value='10:00'>10:00</option>
										<option value='10:30'>10:30</option>
										<option value='11:00'>11:00</option>
										<option value='11:30'>11:30</option>
										<option value='12:00'>12:00</option>
										<option value='12:30'>12:30</option>
										<option value='13:00'>13:00</option>
										<option value='13:30'>13:30</option>
										<option value='14:00'>14:00</option>
										<option value='14:30'>14:30</option>
										<option value='15:00'>15:00</option>
										<option value='15:30'>15:30</option>
										<option value='16:00'>16:00</option>
										<option value='16:30'>16:30</option>
										<option value='17:00'>17:00</option>
										<option value='17:30'>17:30</option>
										<option value='18:00'>18:00</option>
										<option value='18:30'>18:30</option>
										<option value='19:00'>19:00</option>
										<option value='19:30'>19:30</option>
										<option value='20:00'>20:00</option>
										<option value='20:30'>20:30</option>
										<option value='21:00'>21:00</option>
										<option value='21:30'>21:30</option>
										<option value='22:00'>22:00</option>
										<option value='22:30'>22:30</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputLasting">Đặt trong:</label>
                  <select id="inputLasting" class="form-control" name="lasting">
                    <option selected value='1'>1 giờ</option>
                    <option value='1.5'>1.5 giờ</option>
                    <option value='2'>2 giờ</option>
                  </select>
                </div>
              </div>
              <div id ='changes'>
                <button type="submit" class="primary-btn py-2 text-uppercase d-block mx-auto mt-1">Đặt sân</button>
              </div>
            </form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End finding Area -->

	<!-- Start service Area -->
	<section class="service-area pt-50" id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="single-service">
						<span class="lnr lnr-clock"></span>
						<h4>Thời gian linh hoạt</h4>
						<p>
						Đặt lịch và quản lý thời gian tiện lợi, nhắc nhở qua email.
						</p>						 	
					</div>							
				</div>
				<div class="col-lg-4">
					<div class="single-service">
						<span class="lnr lnr-rocket"></span>
						<h4>Đặt sân nhanh chóng</h4>
						<p>
						Đặt sân online mọi lúc mọi nơi, thanh toán nhanh chóng qua ví điện tử hoặc thẻ tín dụng.
						</p>						 	
					</div>							
				</div>
				<div class="col-lg-4">
					<div class="single-service">
						<span class="lnr lnr-briefcase"></span>
						<h4>Tạo sự kiện đá giao hữu</h4>
						<p>
						Chọn sân, lên lịch & mời bạn bè. Quản lý các trận đấu dễ dàng.
						</p>
					</div>							
				</div>												
			</div>
		</div>	
	</section>
	<!-- End service Area -->
	
	<% include layouts/footer %>
	<% include layouts/script %>
	<script>
		  ($(window).scroll(function() {
		    if ($(this).scrollTop() > 100) {
      		$('#header').addClass('header-scrolled');
				} else {
					$('#header').removeClass('header-scrolled');
				}
  		}))
      $('login').validate({
        rules: {
          email: {
            required: true,
            email: true
          },
          password: {
            required: true,
            password: true
          }
        }
      })
	</script>
	
</body>
</html>



