<!DOCTYPE html>
<html lang="vi" class="no-js">
<% include layouts/head %>
<body>
	<% include layouts/header %>


	 <input type="hidden" id="islogin" value="<%= isLogin%>">
	<!-- Start signin Modal area -->
	<div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Đăng nhập</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body mx-3">
				  <% if(info.mess){%>
						<div class="alert alert-danger" role="alert">
							<%= info.mess%>
						</div>
					<%}%>
	        <form id='login' action="/checklogin" method="POST">
	        	<div class="form-group">
							<label for="inputEmail">Email hoặc SĐT:</label>
							<input type="text" class="form-control" id="inputTypeOfField" name="username">
						</div>
						<div class="form-group">
							<label for="inputPassword">Mật khẩu:</label>
							<input type="password" class="form-control" id="inputPassword" name="password">
						</div>
						<button type="submit" class="primary-btn py-2 text-uppercase d-block mx-auto">Đăng nhập</button>
	        </form>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- End signin Modal area -->

	<!-- Start signup Modal area -->
	<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Đăng ký</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body mx-3">
					<form action="/signup">
						<div class="form-group">
							<label for="inputEmail">Email hoặc SĐT:</label>
							<input type="text" class="form-control" id="inputTypeOfField">
						</div>
						<div class="form-group">
							<label for="inputPassword">Mật khẩu:</label>
							<input type="password" class="form-control" id="inputPassword">
						</div>
						<div class="form-group">
								<label for="inputPassword">Nhập lại mật khẩu:</label>
								<input type="password" class="form-control" id="inputRePassword">
							</div>
						<button type="submit" class="primary-btn py-2 text-uppercase d-block mx-auto">Đăng ký</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- End signin Modal area -->
	
	<!-- start banner Area -->
	<section class="banner-area relative" id="home">
		<div class="overlay overlay-bg"></div>	
		<div class="container">
			<div class="row fullscreen d-flex align-items-center justify-content-center">
				<div class="banner-content col-lg-8">
					<h1 class="text-white">
						Đặt sân nhanh chóng, nhiều ưu đãi và tiện ích				
					</h1>
					<p class="pt-20 pb-20 text-white">
						Đặt sân dễ dàng, khung giờ linh hoạt, quản lý lịch đấu & mời giao hữu một cách thuận tiện.
					</p>
					<a href="#finding" class="primary-btn py-3 text-uppercase">Đặt sân</a>
				</div>											
			</div>
		</div>					
	</section>
	<!-- End banner Area -->	

	<!-- Start finding Area -->
	<section id="finding">
		<div class="container">
			<div class="row">
				<div class="col-6 offset-3 mt-5">
					<div class="my-4 mx-2">
						<h2 class="mb-3">Đặt sân</h2>
						<form id='datsan' action='/payment' method='POST'>
						  <div class="form-row">
						    <div class="form-group col-md-6">
						      <label for="inputTypeOfField">Chọn loại sân:</label>
						      <select id="inputTypeOfField" class="form-control" name="loaisan">
										<%if(data){
														data.forEach(t => {%>
														<option value='<%=t.id%>'><%
																if(t.loaisan ==5){%>
																			5 Người
																			<%}else if(t.loaisan == 7){%>
																				
																			7 Người
																			
																			<%}else{%>
																				12 Người
																			<%}%></option>
														
													<%});
													}else{%>
															<option>5 Người</option>
															<option>7 Người</option>
															<option>12 Người</option>
													<%}
										%>
						      </select>
						    </div>
						    <div class="form-group col-md-6">
						      <label for="date">Chọn ngày:</label>
						      <input type="date" class="form-control" id="date" name="ngay" placeholder="">
						    </div>
						  </div>
						  <div class="form-row">
						    <div class="form-group col-md-6">
						      <label for="inputDateFrom">Đặt từ:</label>
						      <select id="inputDateFrom" class="form-control" name="gio">
										<option selected>05:00</option>
										<option value='7:30'>05:30</option>
										<option value='7:30'>06:00</option>
										<option value='7.30'>06:30</option>
										<option value='7:30'>07:00</option>
										<option value='7:30'>07:30</option>
										<option value='7:30'>08:00</option>
										<option value='7:30'>08:30</option>
										<option value='7:30'>09:00</option>
										<option value='7:30'>09:30</option>
										<option value='7:30'>10:00</option>
										<option value='7:30'>10:30</option>
										<option value='7:30'>11:00</option>
										<option value='7:30'>11:30</option>
										<option value='7:30'>12:00</option>
										<option value='7:30'>12:30</option>
										<option value='7:30'>13:00</option>
										<option value='7:30'>13:30</option>
										<option value='7:30'>14:00</option>
										<option value='7:30'>14:30</option>
										<option value='7:30'>15:00</option>
										<option value='7:30'>15:30</option>
										<option value='7:30'>16:00</option>
										<option value='7:30'>16:30</option>
										<option value='7:30'>17:00</option>
										<option value='7:30'>17:30</option>
										<option value='7:30'>18:00</option>
										<option value='7:30'>18:30</option>
										<option value='7:30'>19:00</option>
										<option value='7:30'>19:30</option>
										<option value='7:30'>20:00</option>
										<option value='7:30'>20:30</option>
										<option value='7:30'>21:00</option>
										<option value='7:30'>21:30</option>
										<option value='7:30'>22:00</option>
										<option value='7:30'>22:30</option>
						      </select>
						    </div>
						    <div class="form-group col-md-6">
						      <label for="inputLasting">Đặt trong:</label>
						      <select id="inputLasting" class="form-control" name="thoiluong">
						        <option selected value='1'>1 giờ</option>
						        <option value='1.5'>1.5 giờ</option>
						        <option value='2'>2 giờ</option>
						      </select>
						    </div>
						  </div>
							<div id ='changes'>
								<button type="submit" class="primary-btn py-2 text-uppercase d-block mx-auto mt-1">Đặt sân</button>
							</div>
							
						  
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End finding Area -->

	<!-- Start service Area -->
	<section class="service-area pt-50" id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="single-service">
						<span class="lnr lnr-clock"></span>
						<h4>Thời gian linh hoạt</h4>
						<p>
						Đặt lịch và quản lý thời gian tiện lợi, nhắc nhở qua email.
						</p>						 	
					</div>							
				</div>
				<div class="col-lg-4">
					<div class="single-service">
						<span class="lnr lnr-rocket"></span>
						<h4>Đặt sân nhanh chóng</h4>
						<p>
						Đặt sân online mọi lúc mọi nơi, thanh toán nhanh chóng qua ví điện tử hoặc thẻ tín dụng.
						</p>						 	
					</div>							
				</div>
				<div class="col-lg-4">
					<div class="single-service">
						<span class="lnr lnr-briefcase"></span>
						<h4>Tạo sự kiện đá giao hữu</h4>
						<p>
						Chọn sân, lên lịch & mời bạn bè. Quản lý các trận đấu dễ dàng.
						</p>
					</div>							
				</div>												
			</div>
		</div>	
	</section>
	<!-- End service Area -->
	
	<% include layouts/footer %>
	<% include layouts/script %>
	<script>
		  ($(window).scroll(function() {
		    if ($(this).scrollTop() > 100) {
      		$('#header').addClass('header-scrolled');
				} else {
					$('#header').removeClass('header-scrolled');
				}
  		}))
	</script>
	
</body>
</html>



