<!DOCTYPE html>
<html>
  <!-- Head -->
  <% include layouts/head %>
  <body>
    <!-- Navbar -->
    <% include layouts/header %>
      <section id="user">
			<div class="container">
				<div class="row fullscreen d-flex align-items-center justify-content-center">
					<div class="banner-content col-lg-8">
						<h1 class="text-white">
							aaa				
						</h1>
						<p class="pt-20 pb-20 text-white">
							bbb
						</p>
						<a href="#" class="primary-btn py-3 text-uppercase">Trang Lý lịch</a>
					</div>											
				</div>
			</div>					
		</section>
		<!-- footer -->
		<% include layouts/footer %>
    <!-- Script -->
		<% include layouts/script %>
  </body>
</html>
