<!DOCTYPE html>
<html>
  <!-- Head -->
  <% include layouts/head %>
  <body>
    <!-- Navbar -->
		<% include layouts/header %>
		
		<div class="container mt-5 pt-5">
			<div class="container-fluid">
				<div class="d-flex justify-content-around align-items-center">
					<h4 class="mb-3">Lý lịch cá nhân:</h4>
					<a href="" class="d-inline-block ml-auto font-weight-bold text-black" data-toggle="modal" data-target="#chinhsua">
						<i class="fa fa-edit mr-1"></i>Chỉnh sửa
					</a>
				</div>
				<ul class="list-group">
					<li class="list-group-item">
						<label class="m-0"><span class="font-weight-bold">Họ tên:</span>  </label>
					</li>
					<li class="list-group-item">
						<label class="m-0"><span class="font-weight-bold">Email:</span>  </label>
					</li>
					<li class="list-group-item">
							<label class="m-0"><span class="font-weight-bold">Giới tính:</span>  </label>
					</li>
					<li class="list-group-item">
							<label class="m-0"><span class="font-weight-bold">Ngày sinh:</span>  </label>
					</li>
					<li class="list-group-item">
							<label class="m-0"><span class="font-weight-bold">Tuổi:</span>  </label>
					</li>
					<li class="list-group-item">
							<label class="m-0"><span class="font-weight-bold">Địa chỉ:</span>  </label>
					</li>
					<li class="list-group-item">
							<label class="m-0"><span class="font-weight-bold">Số điện thoại:</span>  </label>
					</li>
				</ul>
				<p class="d-inline-block pt-3 font-italic "> Lưu ý :Vui lòng bổ sung đây đủ thông tin khách hàng</p>	
			</div>
	<!--Chinh sua ly lich ca nhan-->
			<div class="container-fluid">
					<div class="modal fade" id="chinhsua">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title">Thay đổi lý lịch cá nhân</h4>
								</div>
								<div class="modal-body">
									<form action="/user/editprofile">
										 <div class="form-group">
												<label for="name">Họ và Tên</label>
												<input type="name" class="form-control" id="name" placeholder="Nhập" name="name">
										 </div>
										 <div class="form-group">
											<label for="email">Email</label>
											<input type="email" class="form-control" id="work" placeholder="Nhập" name="work">
									 	</div>
										 <div class="form-group">
												<label for="sex">Giới Tính</label>
												<input type="sex" class="form-control" id="sex" placeholder="Nhập" name="sex">
										 </div>
										 <div class="form-group">
												<label for="date">Ngày Sinh</label>
												<input type="date" class="form-control" id="date" placeholder="Nhập" name="date">
										 </div>
										 <div class="form-group">
												<label for="age">Tuổi</label>
												<input type="age" class="form-control" id="age" placeholder="Nhập" name="age">
										 </div>
										 <div class="form-group">
												<label for="add">Địa Chỉ</label>
												<input type="add" class="form-control" id="add" placeholder="Nhập" name="add">
										 </div>
										 <div class="form-group">
												<label for="number1">Số Điện Thoại</label>
												<input type="number1" class="form-control" id="number1" placeholder="Nhập" name="number1">
										 </div>
										</form>
								</div>
								<div class="modal-footer d-flex justify-content-center">
									<button type="button" class="btn btn-success mr-4 px-4" data-dismiss="modal">Lưu</button>
									<button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
		
		<!-- footer -->
		<% include layouts/footer %>
    <!-- Script -->
    <% include layouts/script %>
  </body>
</html>
