<!DOCTYPE html>
<html lang="vi" class="no-js">
<% include layouts/head %>
<body>
	<% include layouts/header %>

  <div class="container mt-5 pt-5">
      <h3 class="d-flex justify-content-center mb-3">Quét mã QR bên dưới để thanh toán:</h3>
      <div class="d-flex justify-content-center" id="qrReplacement"></div>
  </div>
	
	<% include layouts/footer %>
	<% include layouts/script %>
  <script>
    $('#header').addClass('header-scrolled');
    let type = "<%= typeEwallet %>";
    if(type == "momo"){
      $.getJSON('/payment/ewallet/momo', function(data) {
        if(data){
          $('#qrReplacement').append(data.data.paymentLink);
        }
      })
    } else {
      $.getJSON('/payment/ewallet/zalopay', function(data) {
        if(data){
          $('#qrReplacement').append(data.data.paymentLink);
        }
      })
    }
  </script>
</body>
</html>
