<!DOCTYPE html>
<html lang="vi" class="no-js">
<% include layouts/head %>
<body>
	<% include layouts/header %>

	
	
	<% include layouts/footer %>
	<% include layouts/script %>
    <script>
      $('#header').addClass('header-scrolled');
    </script>
</body>
</html>
