<!DOCTYPE html>
<html>
  <!-- Head -->
  <% include layouts/head %>
  <body>
    <!-- Navbar -->
    <% include layouts/header %>
      <section class="banner-area bg" id="user">
			<div class="container">
				<div class="row fullscreen d-flex align-items-center justify-content-center">
					<div class="banner-content col-lg-8">
						<a href="#" class="primary-btn py-3 text-uppercase">LỊCH SÂN / TÌM SÂN TRỐNG</a>
					</div>											
				</div>
			</div>					
		</section>
		<!-- footer -->
		<% include layouts/footer %>
    <!-- Script -->
    <% include layouts/script %>
  </body>
</html>
