<!DOCTYPE html>
<html>
  <!-- Head -->
  <% include layouts/head %>
  <body>
    <!-- Navbar -->
    <% include layouts/header %>
		
		<% include layouts/setField %>

		<!-- footer -->
		<% include layouts/footer %>
    <!-- Script -->
    <% include layouts/script %>
  </body>
</html>
