<!DOCTYPE html>
<html>
  <!-- Head -->
  <% include layouts/head %>
  <body>
    <!-- Header -->
    <% include layouts/header %>
    <!-- Main -->
		<% include layouts/setField %>
		<!-- Footer -->
		<% include layouts/footer %>
    <!-- Script -->
    <% include layouts/script %>
  </body>
</html>
