<!DOCTYPE html>
<html>
  <!-- Head -->
  <% include layouts/head %>
  <body>
    <!-- Header -->
    <% include layouts/header %>
    <!-- Main -->
    <div class="container mt-5 pt-5">
      <div class="row">
        <!-- Aside menu -->
        <div class="col-3">
          <h5 class="text-primary mb-2">Chức năng chung</h5>
          <hr>
          <ul class="nav flex-column mb-3">
            <li class="nav-item text-black">
              <a class="nav-link font-weight-bold text-black active" href="#">Mời giao hữu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link font-weight-bold text-black" href="/user/history">Lịch sử đặt sân</a>
            </li>
          </ul>
          <h5 class="text-primary mt-5">Thông báo</h5>
          <hr>
          <ul class="nav flex-column">
            <li class="nav-item text-black">
              <a class="nav-link" href="#">Khuyến mãi khi đặt sân online từ...</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Nhập nhật lịch đặt sân...</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"></a>
            </li>
          </ul>
        </div>
        <!-- Content menu -->
        <div class="col-9 mb-5 pb-5">
          <div class="row">
            <div class="col-6 offset-2">
              <div class="mx-2">
                <h2 class="mb-3">Đặt sân</h2>
                <form id='datsan' action='/payment' method='POST'>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputTypeOfField">Chọn loại sân:</label>
                      <select id="inputTypeOfField" class="form-control" name="pitchSize">
                        <option selected value="5">5 Người</option>
                        <option value="7">7 Người</option>
                        <option value="12">12 Người</option>
                      </select>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="date">Chọn ngày:</label>
                      <input type="date" class="form-control" id="date" name="rentDate">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputDateFrom">Đặt từ:</label>
                      <select id="inputDateFrom" class="form-control" name="rentTime">
                        <option selected value="5:00">05:00</option>
                        <option value='5:30'>05:30</option>
                        <option value='6:00'>06:00</option>
                        <option value='6.30'>06:30</option>
                        <option value='7:00'>07:00</option>
                        <option value='7:30'>07:30</option>
                        <option value='8:00'>08:00</option>
                        <option value='8:30'>08:30</option>
                        <option value='9:00'>09:00</option>
                        <option value='9:30'>09:30</option>
                        <option value='10:00'>10:00</option>
                        <option value='10:30'>10:30</option>
                        <option value='11:00'>11:00</option>
                        <option value='11:30'>11:30</option>
                        <option value='12:00'>12:00</option>
                        <option value='12:30'>12:30</option>
                        <option value='13:00'>13:00</option>
                        <option value='13:30'>13:30</option>
                        <option value='14:00'>14:00</option>
                        <option value='14:30'>14:30</option>
                        <option value='15:00'>15:00</option>
                        <option value='15:30'>15:30</option>
                        <option value='16:00'>16:00</option>
                        <option value='16:30'>16:30</option>
                        <option value='17:00'>17:00</option>
                        <option value='17:30'>17:30</option>
                        <option value='18:00'>18:00</option>
                        <option value='18:30'>18:30</option>
                        <option value='19:00'>19:00</option>
                        <option value='19:30'>19:30</option>
                        <option value='20:00'>20:00</option>
                        <option value='20:30'>20:30</option>
                        <option value='21:00'>21:00</option>
                        <option value='21:30'>21:30</option>
                        <option value='22:00'>22:00</option>
                        <option value='22:30'>22:30</option>
                      </select>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputLasting">Đặt trong:</label>
                      <select id="inputLasting" class="form-control" name="lasting">
                        <option selected value='1'>1 giờ</option>
                        <option value='1.5'>1.5 giờ</option>
                        <option value='2'>2 giờ</option>
                      </select>
                    </div>
                    <% if(userInfo) { %>
                      <input type="hidden" value="<%= userInfo.email %>" name="email">
                    <% } %>
                  </div>
                  <div id ='changes'>
                    <button type="submit" class="primary-btn py-2 text-uppercase d-block mx-auto mt-1">Đặt sân</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
		<!-- Footer -->
		<% include layouts/footer %>
    <!-- Script -->
    <% include layouts/script %>
  </body>
</html>
