<!DOCTYPE html>
<html>
  <!-- Head -->
  <% include layouts/head %>
  <body>
    <!-- Navbar -->
    <% include layouts/header %>
    <div class="container-fluid mx-0">
      <section id="user">
        user

      </section>
      <section id="user">
        
      </section>
    </div>

    <!-- Script -->
    <% include layouts/script %>
  </body>
</html>
